@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .section {
        /* padding-top: 94px;
        padding-bottom: 94px; */
        max-width: 1600px;
    }

    /* Логотип */
    .logo {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
        text-decoration: none;
    }

    .accent-color {
        color: var(--accent-color);
    }

    /* Навігація по сайту, Контактні дані */

    .header-section,
    .main-nav,
    .site-nav {
        display: flex;
        align-items: center;
    }

    .site-nav .site-nav-item+.site-nav-item {
        margin-left: 50px;
    }

    .address-nav .address-nav-item+.address-nav-item {
        margin-left: 50px;
    }

    .address-nav-link {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        color: var(--primary-text-color);
        transition-property: color;
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--timing-function);
    }

    .icon {
        margin-right: 10px;
        fill: var(--primary-text-color);
    }

    .site-nav-link {
        display: block;
        color: var(--title-text-color);
        transition-property: color;
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--timing-function);
    }

    .current {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        position: relative;
    }

    .current::after {
        left: 0;
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }

    .address-nav {
        display: flex;
        margin-left: auto;
    }

    .site-nav-link,
    .address-nav-link {
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .site-nav-link:hover,
    .site-nav-link:focus,
    .address-nav-link:hover,
    .address-nav-link:focus,
    .footer-address:hover,
    .footer-address:focus,
    .footer-mail:hover,
    .footer-mail:focus,
    .footer-tel:hover,
    .footer-tel:focus {
        color: var(--accent-color);
    }

    .address-nav-link:hover .icon,
    .address-nav-link:focus .icon {
        fill: var(--accent-color);
    }

    .header {
        border-bottom: 1px solid #ececec;
    }



    .hero {
        max-width: 1600px;
        padding: 200px 0;
    }

    .hero-title {
        font-size: 44px;
        line-height: 1.36;
    }

    .advantages {
        display: flex;
        width: 1170px;
    }

    .advantages-item,
    .advantages-bg-icon {
        width: 270px;
    }

    .advantages .advantages-item+.advantages-item {
        margin-left: 30px;
    }

    .team-section {
        display: flex;
    }

    .team-section-title {
        margin-bottom: 50px;
    }

    .team-list {
        display: flex;
    }

    .team-card {
        width: calc((100% - 90px) / 4);
    }

    .team-list .team-card+.team-card {
        margin-left: 30px;
    }

    .team-about {
        padding-bottom: 30px;
    }

    .clients-section {
        margin-bottom: 50px;
    }

    .clients-list {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0px;
    }

    .clients-box {
        width: 100%;
        margin-bottom: 0px;
    }

    .clients-list>.clients-box {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
    }
   
    .clients-box:not(:last-child) {
        margin-right: 30px;
    }

    .footer-container {
        width: 1200px;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .footer-logo-container {
        /* width: 231px; */
        flex-grow: 1;
        margin-right: 70px;
        flex-direction: row;
    }

    .footer-logo {
        display: flex;
        justify-content: flex-start;
        font-size: 26px;
        line-height: 1.19;
        color: var(--primary-white-color);
        font-family: Raleway;
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    .footer {
        display: flex;
        align-items: flex-start;
    }

    .footer-item {
        justify-content: flex-start;
    }

    .footer-networks-section {
        margin-right: 93px;
    }

    .footer-social-networks-list {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .appeal {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .appeal-input {
        margin-right: 12px;
    }

    .appeal-title {
        display: flex;
        justify-content: flex-start;
    }

    .appeal-input-button {
        display: flex;
        /* align-items: baseline; */
        flex-direction: row;
    }

    .submit-button {
        margin-top: 0px;
    }
}