@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .overlay {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
            url(../images/hero-bg-des-1x.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
                url(../images/hero-bg-des-2x.jpg);
        }
    }

    .logo {
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: 26px;
        line-height: 1.19;
    }
    .header {
        border-bottom: 1px solid #ececec;
    }
    .address-nav-link {
        font-size: 14px;
        line-height: 1.14;
    }
    .address-nav {
        flex-direction: row;
    }
    .address-nav-item:not(:last-child) {
        margin-right: 40px;
        margin-bottom: unset;
    }
    .hero {
        max-width: 1600px;
        padding: 200px 0;
    }
    .hero-title {
        font-size: 44px;
        line-height: 1.36;
    }
    .section {
        max-width: 1600px;
    }
    .advantages {
        width: 1170px;
    }
    .advantages-item,
    .advantages-bg-icon {
        width: 270px;
    }
    .advantages .advantages-item+.advantages-item {
        margin-left: 30px;
    }
    .team-section {
        display: flex;
    }
    .team-section-title {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
    .team-card {
        width: calc((100% - 90px) / 4);
    }
    .team-list .team-card+.team-card {
        margin-left: 30px;
    }
    .team-about {
        padding-bottom: 30px;
    }
    .clients-section {
        margin-bottom: 50px;
    }
    .clients-list {
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0px;
    }
    .clients-box {
        width: 100%;
        margin-bottom: 0px;
    }
    .clients-list>.clients-box {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .clients-box:not(:last-child) {
        margin-right: 30px;
    }
    .footer-container {
        width: 1200px;
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }
    .footer-logo-container {
        flex-grow: 1;
        margin-right: 70px;
        flex-direction: row;
    }
    .footer-logo {
        justify-content: flex-start;
        font-size: 26px;
        line-height: 1.19;
    }
    .footer {
        align-items: flex-start;
    }
    .footer-item {
        justify-content: flex-start;
    }
    .footer-networks-section {
        margin-right: 93px;
    }
    .appeal {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .appeal-input {
        width: 358px;
        margin-right: 12px;
    }
    .appeal-title {
        display: flex;
        justify-content: flex-start;
    }
    .appeal-input-button {
        flex-direction: row;
    }
    .submit-button {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
    }
}