@media screen and (min-width: 480px) {
    .header {
        border-bottom: 1px solid #ececec;
    }
    .container {
        max-width: 480px;
    }
    .logo {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }
    .mobile-address-nav-link-1 {
        font-size: 34px;
    }
    .mobile-social-networks-link {
        font-size: 18px;
    }
    .hero {
        max-width: 480px;
    }
    .hero-title {
        font-size: 26px;
        line-height: 1.62;
    }
    .section {
        max-width: 450px;
    }
    .advantages {
        display: block;
    }
    .advantages-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .team-section {
        display: block;
    }
    .team-list {
        display: block;
    }
    .team-image {
        width: 100%;
    }
    .team-about {
        padding-bottom: 24px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .appeal-input {
        width: 400px;
    }
    .submit-button {
        padding-left: 31px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .submit-icon {
        margin-left: 12px;
    }

    /* Backdrop-Modal */
    .modal {
        min-height: 609px;
        min-width: 450px;
    }

    /* MODAL-content */
    .modal-form {
        width: 370px;
    }
    .modal-form-title {
        font-size: 20px;
        line-height: 1.15;
    }
    .modal-chek {
        font-size: 12px;
    }
    .chek-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .advantages-title {
        text-align: center;
    }
    .main-nav,
    .address-nav {
        display: none;
    }
}