@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .overlay {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
        url(../images/hero-bg-tab-1x.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
                url(../images/hero-bg-tab-2x.jpg);
        }
    }

    .logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .mobile-menu {
        display: none;
    }
    .menu-button-open {
        display: none;
    }
    .header .container {
        display: flex;
        align-items: center;
    }
    .main-nav,
    .site-nav {
        display: flex;
        align-items: center;
    }
    .site-nav .site-nav-item+.site-nav-item {
        margin-left: 50px;
    }
    .address-nav {
        display: flex;
        margin-left: auto;
        align-items: flex-start;
        flex-direction: column;
    }
    .address-nav-item {
        justify-content: flex-start;
    }
    .address-nav-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .address-nav-link {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition-property: color;
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--timing-function);
    }
    .icon {
        margin-right: 10px;
        fill: var(--primary-text-color);
    }
    .site-nav-link {
        display: block;
        color: var(--title-text-color);
        transition-property: color;
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--timing-function);
    }
    .current {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        position: relative;
    }
    .current::after {
        left: 0;
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
    .site-nav-link {
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
    .site-nav-link:hover,
    .site-nav-link:focus,
    .address-nav-link:hover,
    .address-nav-link:focus,
    .footer-address:hover,
    .footer-address:focus,
    .footer-mail:hover,
    .footer-mail:focus,
    .footer-tel:hover,
    .footer-tel:focus {
        color: var(--accent-color);
    }
    .address-nav-link:hover .icon,
    .address-nav-link:focus .icon {
        fill: var(--accent-color);
    }
    .hero {
        max-width: 768px;
        padding: 118px 0;
    }
    .section {
        max-width: 738px;
    }
    .advantages {
        display: flex;
        flex-wrap: wrap;
    }
    .advantages-item {
        width: calc((100% - 30px) / 2);
    }
    .advantages-item:nth-child(2n) {
        margin-left: 30px;
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
    }
    .team-card {
        width: calc((100% - 30px) / 2);
    }
    .team-card:nth-child(2n) {
        margin-left: 30px;
    }
    .clients-list {
        flex-wrap: wrap;
    }
    .clients-list>.clients-box {
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 60px) / 3);
    }
    .clients-box:nth-child(3n) {
        margin-right: 0px;
    }
    .clients-box:nth-last-child(-n + 3) {
        margin-bottom: 0px;
    }
    .footer-container {
        width: 645px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
    .footer-logo-container {
        margin-left: 0px;
        margin-bottom: 60px;
        margin-right: 165px;
    }
    .appeal-input {
        width: 450px;
    }

    /* Backdrop-Modal */
    .modal {
        min-height: 581px;
        min-width: 528px;
    }

    /* MODAL-content */
    .modal-form {
        width: 448px;
    }
    .modal-chek {
        font-size: 14px;
    }
    .chek-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 1199px) {
    .we-do-section {
        display: none;
    }
}